Carousel-Storyteller-Engine/Carousel-Storyteller-Engine.json
{
  "name": "Carousel Storyteller Engine",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "edited",
        "name": "={{ $('Loop: Iterate Processed Slides').item.json.card_number }} - {{ $('Loop: Iterate Processed Slides').item.json.headline }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('GDrive: Create Slide Folder').item.json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3264,
        656
      ],
      "id": "4068e482-40b9-48f6-b83c-d19992181ae9",
      "name": "GDrive: Upload Slide Image"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.carousel_cards",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2448,
        656
      ],
      "id": "dfe37976-6cdf-4c17-bc2d-f5e990320676",
      "name": "Loop: Iterate Processed Slides"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1072,
        960
      ],
      "id": "15c524bc-3dda-4d22-be35-4799a2946509",
      "name": "Model: GPT-4o Mini"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"theme_description\": \"Describe the visual theme (e.g., 'Dark mode, neon green accents')\",\n  \"carousel_cards\": [\n    {\n      \"card_number\": 1,\n      \"headline\": \"The big bold text\",\n      \"body_text\": \"The small subtext (max 15 words)\",\n      \"visual_element\": \"Description of icon, image, or big number to use\"\n    }\n  ],\n  \"linkedin_caption\": \"The full LinkedIn caption text\",\n  \"instagram_caption\": \"The full Instagram caption text\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1072,
        880
      ],
      "id": "c8fba483-bcfb-4bf1-93c1-91f06f75656b",
      "name": "Tool: JSON Parser"
    },
    {
      "parameters": {
        "model": "perplexity/sonar-reasoning-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        768
      ],
      "id": "1e30e3db-631d-436f-b24c-eb76efcaf89e",
      "name": "Model: Perplexity"
    },
    {
      "parameters": {
        "formTitle": "What should the slide be about?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic & Context",
              "requiredField": true
            },
            {
              "fieldLabel": "Visual Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "\ud83c\udf4e Minimalist (Apple Style). Clean Swiss design, massive white space, San Francisco font, grayscale with one accent color, high-end tech vibe."
                  },
                  {
                    "option": "\ud83d\udc5f Bold Streetwear. Hypebeast aesthetic, massive kinetic typography, grunge textures, high contrast (Yellow/Black), brutalist layout."
                  },
                  {
                    "option": "\u2728 Luxury / Editorial. High-end fashion magazine vibe, elegant Serif fonts (like Garamond), beige/cream backgrounds, thin lines, sophisticated."
                  },
                  {
                    "option": "\ud83d\udfe3 Modern SaaS (Dark Mode). Stripe or Linear.app style, deep dark background, glowing gradients, glassmorphism, futuristic sans-serif fonts."
                  },
                  {
                    "option": "\ud83d\udce6 Neo-Brutalist. Gumroad-style design, hard black outlines, flat pop colors, raw retro computer interface elements, unpolished aesthetic."
                  },
                  {
                    "option": "\ud83c\udf9e\ufe0f Retro / 90s. Vintage Kodak film grain, warm tones, typewriter fonts, polaroid frames, nostalgic aesthetic."
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        800,
        656
      ],
      "id": "3c2cd025-9ee1-4457-af9c-37b7a9bce07e",
      "name": "Trigger: Receive Topic Idea",
      "webhookId": "c3790a81-2e8d-418c-9157-fd329d678de9"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.output.carousel_cards[0].headline }}-{{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1155eONUCTwmwJuhLX-mbBSZoBFSfRJWR",
          "mode": "list",
          "cachedResultName": "Carousel Storyteller Engine",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1155eONUCTwmwJuhLX-mbBSZoBFSfRJWR"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        816
      ],
      "id": "f2fe77e6-c66b-4c34-8b82-789ba2d8970f",
      "name": "GDrive: Create Slide Folder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "380a4aae-a1e7-4fb5-a328-ec2f176c54a8",
              "name": "ReferenceImageBase64data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        496
      ],
      "id": "5d4aa727-622e-40e9-89a6-69c300ba2d9c",
      "name": "Set: Format Base Image"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appyWlIGMJeFyAUSH",
          "mode": "list",
          "cachedResultName": "Carousel Storyteller Engine",
          "cachedResultUrl": "https://airtable.com/appyWlIGMJeFyAUSH"
        },
        "table": {
          "__rl": true,
          "value": "tblUOlIIFHx6ewiJK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appyWlIGMJeFyAUSH/tblUOlIIFHx6ewiJK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Input Topic": "={{ $('Trigger: Receive Topic Idea').item.json['Topic & Context'] }}",
            "Linkedin Caption": "={{ $('LLM: Generate Carousel Content').item.json.output.linkedin_caption }}",
            "IG Caption": "={{ $('LLM: Generate Carousel Content').item.json.output.instagram_caption }}",
            "Status": "In Review",
            "Slides": "={{ $('GDrive: Create Slide Folder').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Input Topic",
              "displayName": "Input Topic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin Caption",
              "displayName": "Linkedin Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IG Caption",
              "displayName": "IG Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Posted",
                  "value": "Posted"
                },
                {
                  "name": "In Review",
                  "value": "In Review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slides",
              "displayName": "Slides",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3696,
        656
      ],
      "id": "d1df85e5-1df8-41bc-813f-af35d0c5b4e3",
      "name": "Airtable: Save Campaign"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3472,
        656
      ],
      "id": "13d1be9a-2894-49ee-a416-8f5fab324ecd",
      "name": "Aggregate: Group Slides"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=YOU ARE A MASTER TYPOGRAPHY DESIGNER. Your primary goal is the flawless, legible rendering of specific text onto a 4:5 portrait social media slide.\n\nCRITICAL INSTRUCTION: Text rendering accuracy is paramount. You must render the EXACT strings provided below without spelling errors, additions, or omissions. Do not hallucinate new text. Do not make the text \"artsy\" if it sacrifices readability.\n\nINPUT TEXT DATA (Render EXACTLY these strings):\n1. MAIN HEADLINE (Largest, Boldest): \"{{ $json.output.carousel_cards[0].headline }}\"\n2. BODY SUPPORT TEXT (Secondary, legible): \"{{ $json.output.carousel_cards[0].body_text }}\"\n3. PROGRESS INDICATOR (Small, corner placement): \"{{ $json.output.carousel_cards[0].card_number }} of {{ $('LLM: Generate Carousel Content').item.json.output.carousel_cards.length }}\"\n\nDESIGN EXECUTION:\n1.  Aspect Ratio:STRICTLY 4:5 Portrait orientation (vertical mobile screen).\n2.  Theme Context:Apply visual elements based on this description: \"{{ $('LLM: Generate Carousel Content').item.json.output.theme_description }}\"\n3.  Text Hierarchy & Placement:\n    The MAIN HEADLINEmust dominate the upper half of the frame. Use a massive, clean, high-contrast font.\n    The BODY SUPPORT TEXTmust be placed below the headline. It must be immediately readable on a small screen.\n    The PROGRESS INDICATORmust be in the bottom-right or top-right corner in a small, subtle font.\n4.  Legibility Rules:Ensure extreme contrast between text and background. Do not place text over busy patterns. Use clean sans-serif or bold serif fonts that are easy to read quickly. The background design must serve the text, not compete with it.\n\nOutput a finished, polished graphic design slide.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1456,
        496
      ],
      "id": "216b6419-3641-4723-867f-071d0015f65b",
      "name": "Gemini: Create Base Design"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1696,
        496
      ],
      "id": "eacd99a8-a952-4cd0-9893-0164dcfd0f4b",
      "name": "Binary: Extract Image Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2240,
        640
      ],
      "id": "2dd7989e-ee71-4488-9aba-36fb98f977d5",
      "name": "Merge: Combine Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f451bc5-0429-465f-92c0-d96ddb934ebd",
              "name": "DriveFolderWebViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        816
      ],
      "id": "467f8558-8684-474d-8751-b870c2ab7345",
      "name": "Set: Format Folder Link"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "ReferenceImageBase64data",
        "binaryPropertyName": "ReferenceImageBase64data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2864,
        656
      ],
      "id": "6bdc6b35-818a-4a58-81e5-47d3e8e76b79",
      "name": "Binary: Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9370bfe-7b56-4c26-8817-06c62d0d9d7d",
              "name": "slides",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "ae340e79-8e06-4979-8db4-917dc66defd4",
              "name": "ReferenceImageBase64data",
              "value": "={{ $('Merge: Combine Data').item.json.ReferenceImageBase64data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        656
      ],
      "id": "51a646b9-4fb4-4aa5-adf7-9cda66f2791e",
      "name": "Set: Prep Slide Data"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=YOU ARE AN ELITE IMAGE EDITOR AND GRAPHIC DESIGNER. Your task is to edit the provided reference image, replacing its specific content while maintaining its overall structural design.\n\nINSTRUCTIONS FOR REFERENCE IMAGE USAGE:\n1. **Analyze Structure:** Examine the INPUT REFERENCE IMAGE. Note its layout, background style, color scheme, framing, and the positions for text and visuals.\n2. **Preserve Container:** You must KEEP the overall vibe, background design, and layout structure of the reference image.\n3. **Clear Content:** REMOVE ALL original text, specific icons, and illustrations from the reference image.\n\nINSTRUCTIONS FOR NEW CONTENT INSERTION:\nYou will now populate the cleared structure with new data.\n\n---\nNEW INPUT TEXT DATA (Render EXACTLY these strings):\n1. NEW MAIN HEADLINE (Largest, Boldest): \"{{ $('Set: Prep Slide Data').item.json.slides.headline }}\"\n2. NEW BODY SUPPORT TEXT (Secondary, legible): \"{{ $('Set: Prep Slide Data').item.json.slides.body_text }}\"\n3. NEW PROGRESS INDICATOR (Small, corner placement): \"{{ $('Set: Prep Slide Data').item.json.slides.card_number }} of {{ $('LLM: Generate Carousel Content').item.json.output.carousel_cards.length }}\"\n---\n\nTHEME CONTEXT FOR NEW VISUALS: \"{{ $('Set: Prep Slide Data').item.json.slides.visual_element }}\"\n\nEXECUTION STEPS:\n1. **Place New Text:** Render the \"NEW INPUT TEXT DATA\" into the corresponding text areas defined by the reference image's layout. Maintain the original hierarchy (e.g., giant headline at the top, smaller body text below). Text must be perfectly legible and accurate.\n2. **Create New Visuals:** Generate fresh icons, illustrations, or abstract graphic elements that directly relate to the new text and fit the provided \"THEME CONTEXT\". Place these new elements into the areas previously occupied by the old visuals in the reference image.\n3. **Final Composition:** The result should be a seamless, polished 4:5 portrait slide that looks like part of the original set but features completely new text and relevant imagery. Ensure high contrast for readability.",
        "images": {
          "values": [
            {
              "binaryPropertyName": "ReferenceImageBase64data"
            }
          ]
        },
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3056,
        656
      ],
      "id": "068aa97d-78c2-4de2-a018-107fe4ce6f0f",
      "name": "Gemini: Render Slide Image",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a high-performing Social Media Carousel (LinkedIn PDF & Instagram) on this topic: {{ $json['Topic & Context'] }}\n\nROLE & CONTEXT\nYou are an expert Social Media Ghostwriter. Do NOT create a corporate presentation. Create a viral, swipeable carousel optimized for mobile scrolling.\n\nDESIGN DIRECTION\n- Style: Bold, High-Contrast, Mobile-First.\n- Typography: Massive headlines, minimal body text.\n- Vibe: {{ $json['Visual Style'] }}\n\nCAROUSEL CONTENT STRATEGY (8-10 Cards)\n1. CARD 1 (THE HOOK): Max 7 words. Stop the scroll instantly. Use a contrarian statement or a \"How to\" promise.\n2. CARD 2 (THE RETAINER): One sentence. Agitate the problem or tease the solution so they swipe left.\n3. CARDS 3-8 (THE VALUE): ONE idea per card. \n   - Constraint: Aim for 20-30 words per card (approx 2 sentences).\n   - Goal: Explain the concept clearly. The reader must understand the \"how\" or \"why\" immediately.\n   - Visual: Suggest a specific icon or large number for each step.\n4. CARD 9 (THE SUMMARY): A quick checklist recap of the previous points.\n5. CARD 10 (THE CTA): Direct instruction: \"Save this for later\" or \"Repost if this helped.\"\n\nCAPTION STRATEGY\n1. LinkedIn: Professional but conversational. Hook (1 line) -> Body (3-5 bullets) -> Engagement Question.\n2. Instagram: Casual. \"Swipe left \u2b05\ufe0f\" -> Short context -> 15 Hashtags.\n\nSTRICT OUTPUT FORMAT\nYou must ignore all other output formats. Return ONLY a valid JSON object based on this structure:\n\n{\n  \"theme_description\": \"Describe the visual theme\",\n  \"carousel_cards\": [\n    {\n      \"card_number\": 1,\n      \"headline\": \"The big bold text\",\n      \"body_text\": \"The clear explanation (20-30 words). Must be a complete thought.\",\n      \"visual_element\": \"Description of icon, image, or big number to use\"\n    }\n  ],\n  \"linkedin_caption\": \"The full LinkedIn caption text\",\n  \"instagram_caption\": \"The full Instagram caption text\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an elite Social Media Strategist and Ghostwriter for top creators (e.g., Justin Welsh, Sahil Bloom style).\n\nYOUR EXPERTISE:\n1. Mobile-First Writing: You understand that people read on phones. You avoid walls of text. You love white space.\n2. Hook Psychology: You know how to stop the scroll. You use strong, contrarian, or high-value hooks.\n3. Retention: You keep the user swiping by creating \"open loops\" and ensuring every slide delivers value.\n\nYOUR CONSTRAINTS:\n- No \"Corporate Fluff\": Never use buzzwords like \"synergy,\" \"paradigm shift,\" or \"innovative solution.\" Speak like a human.\n- High Contrast: When suggesting visual elements, prioritize clarity and impact over decoration.\n- Strict Output: You are a JSON generation machine. Do not offer preamble, explanations, or conversational filler. Output ONLY the JSON object requested by the user."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1008,
        656
      ],
      "id": "9e4f1487-6593-49ba-91e3-d9d7d5aaac22",
      "name": "LLM: Generate Carousel Content"
    },
    {
      "parameters": {
        "content": "## 1. Concept & Content Strategy\nReceives the topic and uses AI to generate the viral carousel structure, copy, and visual prompts.",
        "height": 720,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        384
      ],
      "id": "8b7ecacb-65b9-45c8-9ad9-a06125e311d6",
      "name": "Sticky Note 1"
    },
    {
      "parameters": {
        "content": "## 2. Asset & Base Design\nCreates a project folder and generates the base 'template' image for the slides using Gemini.",
        "height": 720,
        "width": 780,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        384
      ],
      "id": "ccca7a4f-fd83-444c-ab24-41f6d05387eb",
      "name": "Sticky Note 2"
    },
    {
      "parameters": {
        "content": "## 3. Production Loop\nIterates through each slide, rendering the final text/visuals onto the base design.",
        "height": 722,
        "width": 1002,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2192,
        384
      ],
      "id": "36725b11-8156-4518-90c9-a69c5eaf10a1",
      "name": "Sticky Note 3"
    },
    {
      "parameters": {
        "content": "## 4. Save & Publish\nUploads final slides to Drive, groups them, and saves the campaign to Airtable.",
        "height": 722,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        384
      ],
      "id": "14ab5552-5360-4db0-b073-bcaf44103453",
      "name": "Sticky Note 4"
    }
  ],
  "pinData": {},
  "connections": {
    "GDrive: Upload Slide Image": {
      "main": [
        [
          {
            "node": "Aggregate: Group Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Iterate Processed Slides": {
      "main": [
        [
          {
            "node": "Set: Prep Slide Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model: GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Tool: JSON Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM: Generate Carousel Content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Model: Perplexity": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Generate Carousel Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Receive Topic Idea": {
      "main": [
        [
          {
            "node": "LLM: Generate Carousel Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDrive: Create Slide Folder": {
      "main": [
        [
          {
            "node": "Set: Format Folder Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Format Base Image": {
      "main": [
        [
          {
            "node": "Merge: Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate: Group Slides": {
      "main": [
        [
          {
            "node": "Airtable: Save Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Create Base Design": {
      "main": [
        [
          {
            "node": "Binary: Extract Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary: Extract Image Data": {
      "main": [
        [
          {
            "node": "Set: Format Base Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Format Folder Link": {
      "main": [
        [
          {
            "node": "Merge: Combine Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge: Combine Data": {
      "main": [
        [
          {
            "node": "Loop: Iterate Processed Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary: Convert to File": {
      "main": [
        [
          {
            "node": "Gemini: Render Slide Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Prep Slide Data": {
      "main": [
        [
          {
            "node": "Binary: Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Render Slide Image": {
      "main": [
        [
          {
            "node": "GDrive: Upload Slide Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Carousel Content": {
      "main": [
        [
          {
            "node": "Gemini: Create Base Design",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Combine Data",
            "type": "main",
            "index": 1
          },
          {
            "node": "GDrive: Create Slide Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "56f3a301-d42a-4907-9c08-1fc11a8cf80b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3f3f1b54754cc6a8bf7018ef2c4b3d517f36ec4d32b4741e6f00bea7ac9b4a"
  },
  "id": "oSu1MHmxzbJdsbtZ",
  "tags": []
}