AI-Powered-Logo-Brand-Generator/AI-Powered-Logo-Brand-Generator.json
{
  "name": "DONE- AI-Powered Logo & Brand Asset Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Input & Concept Generation\n**Goal:** Collect user details and brainstorm creative directions.\n\n1.  **Form Trigger:** Gets the project name and description.\n2.  **Claude Opus:** Acts as the \"Creative Director\" to invent 3 distinct logo concepts (Wordmark, Abstract, Visual).\n3.  **JSON Parser:** Ensures the output is strictly formatted for the automation to read.",
        "height": 808,
        "width": 672,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4480,
        -224
      ],
      "id": "fc9fb622-d4d8-4013-84fa-6c4600991790",
      "name": "Note: Phase 1"
    },
    {
      "parameters": {
        "content": "## 2. Logo Generation Loop\n**Goal:** Create the visual logos and save them.\n\n1.  **Loop:** Splits the 3 concepts into individual items.\n2.  **Airtable:** Creates the initial database record.\n3.  **Imagen:** Generates the actual logo image file.\n4.  **Upload:** Saves the image to Airtable.",
        "height": 408,
        "width": 1128,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3792,
        -224
      ],
      "id": "0605497e-53e6-42f5-b1c4-a6534e2074a5",
      "name": "Note: Phase 2"
    },
    {
      "parameters": {
        "content": "## 3. Brand Reverse-Engineering\n**Goal:** Establish the brand identity from the visual.\n\n1.  **Vision Model:** Looks at the generated logo to determine the color palette, fonts, and mood.\n2.  **Format:** Cleans the AI response.\n3.  **Update:** Saves these brand details to the Airtable record.",
        "height": 412,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3792,
        192
      ],
      "id": "881ef8d3-d081-4ab3-a190-13da798f1943",
      "name": "Note: Phase 3"
    },
    {
      "parameters": {
        "content": "## 4. Asset Mockup Production\n**Goal:** Create real-world applications.\n\n1.  **Loop:** Takes the suggested asset ideas (business cards, signs).\n2.  **Fetch:** Downloads the base logo to use as a reference.\n3.  **GenAI:** Edits the logo into a realistic scene.\n4.  **Upload:** Saves the final mockup.",
        "height": 580,
        "width": 1130,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3152,
        192
      ],
      "id": "1b5b6aa2-5b43-4f4b-b729-0bff15e4186e",
      "name": "Note: Phase 4"
    },
    {
      "parameters": {
        "formTitle": "Image Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your company name?",
              "requiredField": true
            },
            {
              "fieldLabel": "Briefly describe what your company does",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -4432,
        -16
      ],
      "id": "463d0b2e-930b-4d10-88c1-00f3c9ea4a68",
      "name": "Trigger: Brand Input",
      "webhookId": "0918309a-72cb-4026-8f4f-8ead6d3ff952"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['What is your company name?'] }}{{ $json['Briefly describe what your company does'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a Lead Brand Identity Designer specializing in High-End Minimalist Geometry, Modernist Flat Design, and Next-Gen Vector Branding.\nYour sole output is three distinct premium-quality logo directions defined by clarity, reduction, and intentional geometry.\n\nGLOBAL AESTHETIC MANDATE\nAll outputs must be:\n\nUltra-minimal\n\nModernist\n\nFlat vector\n\nGrid-aligned\n\nSolid color only\n\nHigh-contrast, high-clarity design language\nThink: Swiss International Style \u00d7 contemporary tech branding.\nNever include realism, shading, gradients, textures, or skeuomorphism.\n\nEXECUTION FRAMEWORK\n\nDeep Brand Disassembly (mental step only).\nReduce the brand to its core conceptual primitives: shapes, verbs, values, metaphors, and geometric motifs. Identify 10 possible visual systems the brand could express through pure form.\n\nSelect the 3 most distinct and high-leverage directions, each mapped to a required category:\n\nVariation 1: Modern Wordmark\nCustom letterforms. Precise kerning. Negative-space intelligence. Brutally simple geometry. No icons.\n\nVariation 2: Abstract Symbol\nA single geometric emblem with a clear conceptual anchor (motion, growth, precision, duality, synthesis, etc.). Symbol left, name right. Should feel like a scalable tech-brand mark.\n\nVariation 3: Pictorial Mark\nA distilled literal object reduced to its geometric essence. No cartooning. No detail clutter. Flattened into iconic form.\n\nGenerate Imagen Prompts that enforce strict modernist output\nEvery prompt must read like technical direction for a senior logo illustrator\u2014no fluff, no synonyms for realism.\n\nOUTPUT JSON\n\n{\n\"thought_process\": \"One blunt paragraph explaining the conceptual reduction and why these three directions were selected.\",\n\"variations\": [\n{\n\"type\": \"Modern Wordmark\",\n\"image_prompt\": \"flat design vector logo, ultra-minimal modern wordmark for '[Company Name]'. Custom geometric sans-serif letterforms, precise kerning, refined negative space. Solid colors only. Clean lines. High-contrast. White background. No icons. No effects. Forbidden: 3D, gradients, shadows, photorealism.\"\n},\n{\n\"type\": \"Abstract Symbol\",\n\"image_prompt\": \"flat design vector logo with a geometric abstract symbol for '[Company Name]'. A single bold emblem built from simple shapes representing [core concept]. Symbol on left, name on right in modern sans-serif. Clean lines. Solid colors. White background. No gradients, shadows, or realism.\"\n},\n{\n\"type\": \"Pictorial Mark\",\n\"image_prompt\": \"flat design vector logo for '[Company Name]'. A distilled geometric illustration of [literal object], reduced to essential shapes with thick, consistent line weight and solid color fills. Name beneath in clean modern type. Clean lines. Solid colors. White background. No 3D, shading, or texture.\"\n}\n]\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4176,
        -16
      ],
      "id": "afd848e3-8ccf-4afd-b3b3-8f69d7c6ad6a",
      "name": "LLM: Concept Generator"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4208,
        208
      ],
      "id": "3e144f00-b15f-4cda-877b-12ceed76ac87",
      "name": "Model: Claude Opus (Main)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"thought_process\": \"One blunt paragraph explaining the conceptual reduction and why these three directions were selected.\",\n\"variations\": [\n{\n\"type\": \"Modern Wordmark\",\n\"image_prompt\": \"flat design vector logo, ultra-minimal modern wordmark for '[Company Name]'. Custom geometric sans-serif letterforms, precise kerning, refined negative space. Solid colors only. Clean lines. High-contrast. White background. No icons. No effects. Forbidden: 3D, gradients, shadows, photorealism.\"\n},\n{\n\"type\": \"Abstract Symbol\",\n\"image_prompt\": \"flat design vector logo with a geometric abstract symbol for '[Company Name]'. A single bold emblem built from simple shapes representing [core concept]. Symbol on left, name on right in modern sans-serif. Clean lines. Solid colors. White background. No gradients, shadows, or realism.\"\n},\n{\n\"type\": \"Pictorial Mark\",\n\"image_prompt\": \"flat design vector logo for '[Company Name]'. A distilled geometric illustration of [literal object], reduced to essential shapes with thick, consistent line weight and solid color fills. Name beneath in clean modern type. Clean lines. Solid colors. White background. No 3D, shading, or texture.\"\n}\n]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4080,
        208
      ],
      "id": "b44877bb-c318-49c9-bacf-7ea225c7c2de",
      "name": "Parser: JSON Formatter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -4000,
        416
      ],
      "id": "4dc09a5f-f81a-4422-8e41-7100fe219ec7",
      "name": "Model: Parser Fixer"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $('Loop: Process Variations').item.json.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3264,
        -16
      ],
      "id": "139ac624-56b4-423e-b03f-fbc967990d76",
      "name": "GenAI: Create Logo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.variations",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3712,
        -16
      ],
      "id": "c0016201-3dec-4045-b2fe-41caec9e1856",
      "name": "Loop: Process Variations"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "attachment",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3040,
        -16
      ],
      "id": "dba80e7d-9218-4a3c-9fe0-183f488bc7bc",
      "name": "Binary: Prep Logo Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/appPObOZ3zsYcdfBr/{{ $('Airtable: Create Record').item.json.id }}/Logo_Asset/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "={{ $('GenAI: Create Logo').item.json.mimeType }}"
            },
            {
              "name": "file",
              "value": "={{ $json.attachment }}"
            },
            {
              "name": "filename",
              "value": "={{ $('GenAI: Create Logo').item.json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2816,
        -16
      ],
      "id": "cf0c3ecd-8e1d-4581-874a-10bfdd9a8382",
      "name": "Airtable: Upload Logo"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appPObOZ3zsYcdfBr",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "https://airtable.com/appPObOZ3zsYcdfBr"
        },
        "table": {
          "__rl": true,
          "value": "tblxwvHptxMjsFefd",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "https://airtable.com/appPObOZ3zsYcdfBr/tblxwvHptxMjsFefd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Project Name": "={{ $('Trigger: Brand Input').item.json['What is your company name?'] }}",
            "Description": "={{ $('Trigger: Brand Input').item.json['Briefly describe what your company does'] }}",
            "Status": "Generating",
            "Logo Prompt": "={{ $json.image_prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Generate",
                  "value": "To Generate"
                },
                {
                  "name": "Generating",
                  "value": "Generating"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand Concept",
              "displayName": "Brand Concept",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Color Palette",
              "displayName": "Color Palette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo Prompt",
              "displayName": "Logo Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Logo_Asset",
              "displayName": "Logo_Asset",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Suggested Font Pairing",
              "displayName": "Suggested Font Pairing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand Asset Ideas",
              "displayName": "Brand Asset Ideas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo Asset (AI Generated)",
              "displayName": "Logo Asset (AI Generated)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3488,
        -16
      ],
      "id": "4480379b-ab73-4d0d-86ed-fb135e99b446",
      "name": "Airtable: Create Record"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "Act as a Senior Creative Director. Analyze the visual elements of the provided image (color, lighting, materials, composition, and mood) to reverse-engineer a cohesive brand identity.\n\nYou must output a single JSON object.\n\nOutput Keys Descriptions:\n1. \"mood_analysis\": (String) A 2-sentence description of the vibe.\n2. \"color_palette\": (String) A single string containing 5 Hex codes and their creative names, comma-separated (e.g., \"#000000 (Midnight), #FFFFFF (Cloud)\").\n3. \"font_pairing\": (String) A single string suggesting a Google Font pairing (Header & Body).\n4. \"brand_concept\": (String) A short pitch for a fictional company that would use this aesthetic.\n5. \"asset_prompts\": (Array of Strings) An array containing exactly 3 distinct, high-fidelity image generation prompts. Each prompt must describe a different physical or digital brand asset (e.g., packaging, stationery, app mockup) rendered specifically in the visual style, lighting, and materials of the input image.\n\nCRITICAL: Output ONLY valid JSON.\n\nExample Json\n{\n  \"mood_analysis\": \"The image conveys an organic, sophisticated minimalism, utilizing raw earth textures and warm, diffused lighting. It feels grounded, artisanal, and high-end.\",\n  \"color_palette\": \"#8C9985 (Dried Sage), #D4C4A8 (Raw Clay), #4A4A4A (Charcoal Stone), #F5F5F0 (Off-White Linen), #BFA588 (Terracotta)\",\n  \"font_pairing\": \"Header: Fraunces (Soft Serif), Body: Karla (Clean Sans)\",\n  \"brand_concept\": \"Aura Home - A boutique brand specializing in handcrafted ceramic dinnerware and organic textile home goods.\",\n  \"asset_prompts\": [\n    \"A close-up photograph of thick, textured cotton business cards for 'Aura Home' resting on a rough ceramic surface. The cards use the charcoal and off-white colors with embossed typography. Natural, soft side-lighting matches the reference image.\",\n    \"A photorealistic mockup of sustainable product packaging for a ceramic vase. The box is made of recycled matte brown cardboard with a minimalist sage green label, placed in a sunlit, rustic studio environment.\",\n    \"A high-fidelity render of a tablet screen displaying the 'Aura Home' e-commerce website. The UI is ultra-minimalist with cream backgrounds and dark charcoal text, featuring lifestyle product photography that mimics the warm, earthy tones of the reference image.\"\n  ]\n}",
        "imageUrls": "={{ $json.fields.fldyrPbwu5402DZLl[0].url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3744,
        400
      ],
      "id": "2965cf91-992e-43ac-b81d-5e164dba7e13",
      "name": "Vision: Analyze Identity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff44549f-c71e-4f9d-9b4a-7585dbae674b",
              "name": "item",
              "value": "={{ $json.content.parts[0].text.replaceAll('```','').replaceAll('json','').parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        400
      ],
      "id": "59136dfe-75e8-44cc-bf61-f21aeb9f947c",
      "name": "Format: Clean Analysis JSON"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appPObOZ3zsYcdfBr",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "[https://airtable.com/appPObOZ3zsYcdfBr](https://airtable.com/appPObOZ3zsYcdfBr)"
        },
        "table": {
          "__rl": true,
          "value": "tblxwvHptxMjsFefd",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "[https://airtable.com/appPObOZ3zsYcdfBr/tblxwvHptxMjsFefd](https://airtable.com/appPObOZ3zsYcdfBr/tblxwvHptxMjsFefd)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable: Upload Logo').item.json.id }}",
            "Brand Concept": "={{ $json.item.mood_analysis }}",
            "Color Palette": "={{ $json.item.color_palette }}",
            "Suggested Font Pairing": "={{ $json.item.font_pairing }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Generate",
                  "value": "To Generate"
                },
                {
                  "name": "Generating",
                  "value": "Generating"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand Concept",
              "displayName": "Brand Concept",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Color Palette",
              "displayName": "Color Palette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Logo Prompt",
              "displayName": "Logo Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo_Asset",
              "displayName": "Logo_Asset",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mood Analysis",
              "displayName": "Mood Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Brand Asset Ideas",
              "displayName": "Brand Asset Ideas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Suggested Font Pairing",
              "displayName": "Suggested Font Pairing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Logo Asset (AI Generated)",
              "displayName": "Logo Asset (AI Generated)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3312,
        336
      ],
      "id": "b23c0459-9eb5-4eca-b0fa-33eebdf6a3a8",
      "name": "Airtable: Save Brand Data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "item.asset_prompts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3104,
        400
      ],
      "id": "19be3252-d1c1-4def-9854-54929debe095",
      "name": "Loop: Process Assets"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "={{ $json['item.asset_prompts'] }}",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2656,
        400
      ],
      "id": "a0b8560e-befd-4c1c-a235-2af6ef5db2d5",
      "name": "GenAI: Create Asset Mockup"
    },
    {
      "parameters": {
        "url": "={{ $('Airtable: Upload Logo').item.json.fields.fldyrPbwu5402DZLl[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2880,
        400
      ],
      "id": "6b4e1952-a895-4cc4-9202-395711166fda",
      "name": "HTTP: Fetch Base Logo"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "edited",
        "destinationKey": "attachment",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2432,
        400
      ],
      "id": "abd0bc35-db5c-44d9-92bc-598c4d6689c8",
      "name": "Binary: Prep Asset Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://content.airtable.com/v0/appPObOZ3zsYcdfBr/{{ $('Airtable: Create Record').item.json.id }}/Asset_Ideas/uploadAttachment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentType",
              "value": "={{ $('GenAI: Create Logo').item.json.mimeType }}"
            },
            {
              "name": "file",
              "value": "={{ $json.attachment }}"
            },
            {
              "name": "filename",
              "value": "={{ $('GenAI: Create Asset Mockup').item.json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        400
      ],
      "id": "b7c67098-c89b-45ad-8853-9e1006ae8fae",
      "name": "Airtable: Upload Asset"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appPObOZ3zsYcdfBr",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "[https://airtable.com/appPObOZ3zsYcdfBr](https://airtable.com/appPObOZ3zsYcdfBr)"
        },
        "table": {
          "__rl": true,
          "value": "tblxwvHptxMjsFefd",
          "mode": "list",
          "cachedResultName": "AI-Powered Logo & Brand Asset Generator",
          "cachedResultUrl": "[https://airtable.com/appPObOZ3zsYcdfBr/tblxwvHptxMjsFefd](https://airtable.com/appPObOZ3zsYcdfBr/tblxwvHptxMjsFefd)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable: Upload Logo').item.json.id }}",
            "Status": "Done"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To Generate",
                  "value": "To Generate"
                },
                {
                  "name": "Generating",
                  "value": "Generating"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand Concept",
              "displayName": "Brand Concept",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Color Palette",
              "displayName": "Color Palette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo Prompt",
              "displayName": "Logo Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo_Asset",
              "displayName": "Logo_Asset",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Asset_Ideas",
              "displayName": "Asset_Ideas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Suggested Font Pairing",
              "displayName": "Suggested Font Pairing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Logo Asset (AI Generated)",
              "displayName": "Logo Asset (AI Generated)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3104,
        592
      ],
      "id": "3af0d2bf-e750-477f-b479-2412528ebc7b",
      "name": "Airtable: Mark Done"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: Brand Input": {
      "main": [
        [
          {
            "node": "LLM: Concept Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model: Claude Opus (Main)": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Concept Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser: JSON Formatter": {
      "ai_outputParser": [
        [
          {
            "node": "LLM: Concept Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Model: Parser Fixer": {
      "ai_languageModel": [
        [
          {
            "node": "Parser: JSON Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Concept Generator": {
      "main": [
        [
          {
            "node": "Loop: Process Variations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process Variations": {
      "main": [
        [
          {
            "node": "Airtable: Create Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenAI: Create Logo": {
      "main": [
        [
          {
            "node": "Binary: Prep Logo Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary: Prep Logo Upload": {
      "main": [
        [
          {
            "node": "Airtable: Upload Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Create Record": {
      "main": [
        [
          {
            "node": "GenAI: Create Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Upload Logo": {
      "main": [
        [
          {
            "node": "Vision: Analyze Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision: Analyze Identity": {
      "main": [
        [
          {
            "node": "Format: Clean Analysis JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Clean Analysis JSON": {
      "main": [
        [
          {
            "node": "Airtable: Save Brand Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop: Process Assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable: Mark Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process Assets": {
      "main": [
        [
          {
            "node": "HTTP: Fetch Base Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Fetch Base Logo": {
      "main": [
        [
          {
            "node": "GenAI: Create Asset Mockup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary: Prep Asset Upload": {
      "main": [
        [
          {
            "node": "Airtable: Upload Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenAI: Create Asset Mockup": {
      "main": [
        [
          {
            "node": "Binary: Prep Asset Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4b25870-9a61-4e44-a954-27743594bd19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3f3f1b54754cc6a8bf7018ef2c4b3d517f36ec4d32b4741e6f00bea7ac9b4a"
  },
  "id": "hP4Waf6EczsEZvlN",
  "tags": []
}