test-output/Programmatic-SEO-Content-Machine/workflow.json
{
  "name": "Programmatic SEO Content Machine",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Programmatic SEO Content Machine",
        "formDescription": "Enter Your Keywords and I'll generate and publish SEO-optimized articles",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of Articles",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -560,
        -192
      ],
      "id": "cd008407-b971-4a95-9bb0-90e54e37c77d",
      "name": "Form Trigger: Keyword Input",
      "webhookId": "6b9112da-1673-4735-b330-36c20cebf0b7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.articleTopics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        64,
        -112
      ],
      "id": "8fc17a74-1d3e-4ae3-bbca-5f0a1e371c63",
      "name": "Split Out Topics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: Begin with a concise checklist (3-7 bullets) of what you will do; keep items conceptual, not implementation-level.\n\nSearch for relevant and trending articles based on the following keywords:\n{{ $json.Keywords }}\n\nUsing your findings, generate {{ $json['Number of Articles'] }} unique article topics, ensuring each topic presents a distinct angle. Avoid repeating the same perspective or approach across multiple topics.\n\nResponses should be clear and avoid verbosity where not necessary.\n\nReturn the response as a JSON object with an \"articleTopics\" array. Each element in the array should be an object containing:\n- \"title\" (string): A concise, descriptive article topic title.\n- \"angle\" (string): A brief explanation of the unique perspective or approach for this topic.\n\nExample output:\n{\n  \"articleTopics\": [\n    {\n      \"title\": \"The Evolution of Remote Work in Tech Industries\",\n      \"angle\": \"Examines how remote work trends have shaped software development practices since 2020.\"\n    },\n    {\n      \"title\": \"Balancing Work and Well-being in Hybrid Teams\",\n      \"angle\": \"Explores strategies companies use to support employee mental health while working remotely.\"\n    }\n  ]\n}\n\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -304,
        -192
      ],
      "id": "ead40476-16b6-47b9-8cc0-5821b45a91d2",
      "name": "Generate Article Topics"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"articleTopics\": [\n    {\n      \"title\": \"The Evolution of Remote Work in Tech Industries\",\n      \"angle\": \"Examines how remote work trends have shaped software development practices since 2020.\"\n    },\n    {\n      \"title\": \"Balancing Work and Well-being in Hybrid Teams\",\n      \"angle\": \"Explores strategies companies use to support employee mental health while working remotely.\"\n    }\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        112
      ],
      "id": "ba145c33-ddec-4924-ac98-d2ecfa2e9dca",
      "name": "Parse Topic JSON"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appPpq7Br6DTiZH0o",
          "mode": "list",
          "cachedResultName": "Programmatic SEO Content Machine",
          "cachedResultUrl": "https://airtable.com/appPpq7Br6DTiZH0o"
        },
        "table": {
          "__rl": true,
          "value": "tblBP5R6rji1CEwYp",
          "mode": "list",
          "cachedResultName": "Articles",
          "cachedResultUrl": "https://airtable.com/appPpq7Br6DTiZH0o/tblBP5R6rji1CEwYp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Article Title": "={{ $json.output.title }}",
            "Article Text": "={{ $json.output.content }}",
            "Keywords": "={{ $json.output.keywords }}",
            "Meta Description": "={{ $json.output.metaDescription }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Meta Description",
              "displayName": "Meta Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Article Text",
              "displayName": "Article Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        -192
      ],
      "id": "acfb1bdd-6ef7-4327-aec2-fade66163b52",
      "name": "Save to Airtable"
    },
    {
      "parameters": {
        "model": "perplexity/sonar-pro-search",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -304,
        -32
      ],
      "id": "fc10542d-4b54-4747-b10a-7793bdc4510c",
      "name": "LLM: Web Search for Topics - Sonar Pro Search"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcdd Input Stage\n\nCaptures user keywords and desired article count through a web form trigger",
        "height": 776,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -352
      ],
      "typeVersion": 1,
      "id": "1b2e3e7a-f959-4ba8-9f6d-3d05f519a8a5",
      "name": "Sticky Note - Input"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd0d Topic Generation\n\nUses web search to find trending content, then generates unique article topics with distinct angles based on keywords",
        "height": 776,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -352
      ],
      "typeVersion": 1,
      "id": "89e44296-57d8-4015-8e8d-e1607ab72de2",
      "name": "Sticky Note - Topics"
    },
    {
      "parameters": {
        "content": "## \u2702\ufe0f Split & Process\n\nSplits generated topics into individual items for parallel article generation",
        "height": 776,
        "width": 168,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -352
      ],
      "typeVersion": 1,
      "id": "d9223a1a-3bdb-4871-9c9d-a8c7077a0c14",
      "name": "Sticky Note - Split"
    },
    {
      "parameters": {
        "content": "## \u270d\ufe0f Article Writing\n\nPerforms web research for each topic, then generates comprehensive SEO-optimized articles (1000-1500 words) with embedded citations",
        "height": 776,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -352
      ],
      "typeVersion": 1,
      "id": "cdd38606-7d2f-4c59-95e9-59d06bda40d1",
      "name": "Sticky Note - Writing"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcbe Storage\n\nSaves completed articles with metadata (title, content, keywords, meta description) to Airtable",
        "height": 776,
        "width": 232,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -352
      ],
      "typeVersion": 1,
      "id": "486e0e85-93a8-4422-a11e-494e60bd3b91",
      "name": "Sticky Note - Storage"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        272
      ],
      "id": "7fe68795-433c-4cbc-b3ba-011d63071d82",
      "name": "LLM: GPT 4 mini"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"The Future of AI in Content Marketing\",\n  \"metaDescription\": \"Discover how artificial intelligence is revolutionizing content marketing strategies and what it means for businesses in 2024 and beyond.\",\n  \"content\": \"In today's digital landscape, artificial intelligence is no longer a futuristic concept\u2014it's a present reality transforming how businesses create and distribute content. From automated writing tools to predictive analytics, AI is reshaping the content marketing industry at an unprecedented pace.\\n\\nAccording to [recent research from Gartner](https://www.gartner.com/ai-marketing), over 80% of marketing leaders are already using AI-powered tools in their content strategies, marking a significant shift in how organizations approach content creation and distribution.\\n\\n## Understanding AI in Content Marketing\\n\\nArtificial intelligence has become an integral part of modern content marketing strategies. Businesses are leveraging machine learning algorithms to analyze consumer behavior, predict trends, and create personalized content experiences.\\n\\nThe [Content Marketing Institute's 2024 report](https://contentmarketinginstitute.com/research) reveals that companies using AI-powered content tools have seen a 30% increase in engagement rates. This dramatic improvement stems from AI's ability to process vast amounts of data and identify patterns that human marketers might miss.\\n\\n### Key AI Technologies\\n\\nNatural Language Processing (NLP) enables machines to understand and generate human-like text. Machine learning algorithms analyze vast amounts of data to identify patterns and preferences. According to [MIT Technology Review](https://www.technologyreview.com/ai-nlp), these technologies work together to create more targeted and effective content strategies.\\n\\n### Real-World Applications\\n\\nMajor brands like Netflix and Amazon have pioneered AI-driven personalization, resulting in [significant increases in user engagement](https://hbr.org/personalization-case-studies). Their success demonstrates the tangible benefits of AI integration in content delivery.\\n\\n## Benefits of AI-Powered Content\\n\\nThe integration of AI in content creation offers numerous advantages. It increases efficiency by automating repetitive tasks, improves personalization through data analysis, and enhances content quality with intelligent suggestions.\\n\\nMarketing teams can now focus on strategic thinking while AI handles the heavy lifting. [Research from McKinsey](https://www.mckinsey.com/ai-productivity) shows that AI can reduce content creation time by up to 50%, allowing teams to produce more high-quality content with the same resources.\\n\\n## Conclusion\\n\\nAs we move forward, the role of AI in content marketing will only continue to grow. Businesses that embrace these technologies early will gain a competitive advantage in creating engaging, personalized content at scale.\\n\\nThe key is to find the right balance between AI automation and human creativity. While AI excels at data processing and pattern recognition, human creativity and strategic thinking remain irreplaceable. By combining both strengths, organizations can create truly exceptional content marketing strategies that drive results.\",\n  \"keywords\": \"AI content marketing, artificial intelligence, content automation, machine learning, marketing technology\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        112
      ],
      "id": "7b93682e-2f61-426a-9a4f-c35b43956683",
      "name": "Parse Article JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=STEP 1 - WEB RESEARCH:\nSearch the web for the latest information, statistics, and case studies about:\n\nTitle: {{ $json.title }}\nAngle: {{ $json.angle }}\nKeywords: {{ $('Form Trigger: Keyword Input').item.json.Keywords }}\n\nFind high-quality sources (2024-2025) and CAPTURE THE URLs. You will need these specific URLs for the writing step.\n\nSTEP 2 - ARTICLE WRITING:\nWrite a comprehensive SEO article based on your research.\n\nCRITICAL CITATION RULES (READ CAREFULLY):\n1.  **NO BRACKETED NUMBERS:** You are strictly FORBIDDEN from using citation numbers like [1], [2], [3].\n2.  **INLINE MARKDOWN LINKS:** Every time you cite a fact, stat, or company, you MUST embed the specific URL directly into the text using Markdown.\n    -   \u2705 CORRECT: \"According to [Gartner](https://www.gartner.com/en/newsroom), AI adoption is rising...\"\n    -   \u274c WRONG: \"According to Gartner [1], AI adoption is rising...\"\n    -   \u274c WRONG: \"According to Gartner, AI adoption is rising.\"\n\nCONTENT REQUIREMENTS:\n- Length: 1000-1500 words\n- Tone: Professional, authoritative, yet accessible\n- Structure: Use ## for main sections and ### for subsections\n- SEO: Naturally incorporate the keywords provided\n\nOUTPUT FORMAT:\nReturn ONLY a valid JSON object. Do not include markdown code blocks (```json) or conversational text.\n\n{\n  \"title\": \"The article title\",\n  \"metaDescription\": \"SEO-optimized meta description\",\n  \"content\": \"The full article text with ## Headings and [inline markdown links](https://example.com). Use \\n for new lines.\",\n  \"keywords\": \"keyword1, keyword2, keyword3\"\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        272,
        -192
      ],
      "id": "a1c71eba-4603-4054-9f13-813a32cc446d",
      "name": "Generate SEO Article"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        -32
      ],
      "id": "5169b2b8-f43e-423b-a084-aed64c714e6c",
      "name": "LLM: Web Search for Content - Sonar Pro"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "53c2fd63-b3e0-4d11-bdab-992403f41401",
      "name": "LLM: GPT 4 Mini"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger: Keyword Input": {
      "main": [
        [
          {
            "node": "Generate Article Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Topics": {
      "main": [
        [
          {
            "node": "Generate SEO Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article Topics": {
      "main": [
        [
          {
            "node": "Split Out Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Topic JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Article Topics",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Web Search for Topics - Sonar Pro Search": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Article Topics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM: GPT 4 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Topic JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Generate SEO Article",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Web Search for Content - Sonar Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Generate SEO Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM: GPT 4 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Article JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Article": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ae2a966-23a8-4604-a16a-0dabf0331891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3f3f1b54754cc6a8bf7018ef2c4b3d517f36ec4d32b4741e6f00bea7ac9b4a"
  },
  "id": "Bp4saSRZD9c9kj5i",
  "tags": []
}