test-output/Content-Repurpose/workflow.json
{
  "name": "Content Repurpose",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1088,
        0
      ],
      "id": "7008a3ca-f2d1-4f54-b6f8-073de3a24979",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1264,
        176
      ],
      "id": "4be1c876-c12c-4c41-a510-b9937507c1ab",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Description: {{ $('getVideo').item.json.description }}\n\nVideo Transcript: {{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You take a short-form video description and transcript as input. You generate one JSON object containing:\n\n1. A 40-character clickbait-y title\n\u2013 Must start with something results-focused and then include the most relevant keyword phrase extracted from the input (e.g., \u201cAI Automations\u2026\u201d, \u201cChatGPT Workflows\u2026\u201d, \u201cn8n Automation\u2026\u201d, \u201cMake.com Systems\u2026\u201d).\n\u2013 Maximum 40 characters total.\n\u2013 No emojis.\n\n2. A ~200-word SEO-optimized video description that follows all rules below.\nOperational rules:\n\nThe description must always begin with this exact line (no variation):\nLike + Comment \"AI\" and I will send you free training on how to build and sell AI automations.\n\nUse the transcript and video description to build a clean, high-signal writeup that:\n\u2013 States the problem the viewer is dealing with\n\u2013 Explains the core insight or mechanism taught in the video\n\u2013 Highlights the value for automation beginners and operators\n\u2013 Embeds relevant keywords naturally, including: AI automations, automation agency, n8n, Make.com, ChatGPT workflows, solo creator systems, content automation, backend automations\n\u2013 Reinforces expertise without hype\n\u2013 Ends cleanly with no additional CTA beyond the required opening line\n\nStructure:\n\u2013 One short intro section summarizing the core idea\n\u2013 A set of bullet points or numbered points expanding the key concepts\n\u2013 A concise closing section that ties the lesson back to the viewer\u2019s goals\nNo emojis.\n- No markdown formatting or asterisks\n- Write like Alex Hormozi in simple, clear, vibe-marketing language at a 6th grade level\n\nThe final description must be about 200 words.\n\nNo fluff. No generic motivation. No filler language. Keep it focused on practical mechanics, reasoning, and clarity.\n\nIgnore all irrelevant transcript noise: timestamps, hesitations, platform artifacts, repeated phrases.\n\nOutput only valid JSON in this structure:\n\n\n{\n  \"title\": \"\",\n  \"description\": \"\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        0
      ],
      "id": "408bd317-8fb1-4790-8153-276b9bebac31",
      "name": "writeCaption"
    },
    {
      "parameters": {
        "resource": "media",
        "mediaUrl": "={{ $json.webContentLink }}"
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1344,
        -176
      ],
      "id": "7c459730-966c-4d54-9ea6-c7c9679ed96e",
      "name": "Upload media"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1632,
        -144
      ],
      "id": "6c13120b-6a64-4a41-893b-8451bfc8fb15",
      "name": "Merge"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "571",
          "mode": "list",
          "cachedResultName": "duncanrogoff",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/571"
        },
        "postContentText": "={{ $json.output.description }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1856,
        -304
      ],
      "id": "9c0a91da-4938-4a02-8473-b6084d37ece7",
      "name": "Instagram"
    },
    {
      "parameters": {
        "platform": "twitter",
        "accountId": {
          "__rl": true,
          "value": "906",
          "mode": "list",
          "cachedResultName": "DuncanRogoff",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/906"
        },
        "postContentText": "={{ $json.output.description }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1856,
        -144
      ],
      "id": "d02a6524-c0fd-46b1-89cf-d6a4632ad7ac",
      "name": "Twitter"
    },
    {
      "parameters": {
        "platform": "youtube",
        "accountId": {
          "__rl": true,
          "value": "323",
          "mode": "list",
          "cachedResultName": "Duncan Rogoff (Duncan Rogoff | AI Automation)",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/323"
        },
        "postContentText": "={{ $json.output.description }}",
        "postContentMediaUrls": "={{ $json.url }}",
        "postCreateYoutubeOptionTitle": "={{ $json.output.title }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1856,
        16
      ],
      "id": "2f42786e-998c-4182-9a73-07b06cc8cb11",
      "name": "YouTube"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"\",\n  \"description\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1440,
        176
      ],
      "id": "56699e1e-3203-46e5-9da1-25bdbdcb790c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/TI9TxEZiAR3Fg7xH.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "315b62e4-ff61-4629-b454-552d6a590f24",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.downloadUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        0
      ],
      "id": "cff4ac37-4600-4f72-a4c9-436412722fb5",
      "name": "downloadVideo"
    },
    {
      "parameters": {
        "url": "https://tiktok-video-downloader-api.p.rapidapi.com/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoUrl",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-video-downloader-api.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        0
      ],
      "id": "59f5759d-d71a-4de0-9889-b095f79179d0",
      "name": "getVideo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d11ef322-37df-4555-84f7-a1c17ea0d15d",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "4756914e-6930-49f5-9c1f-f1e87a835b71",
      "name": "setFeed"
    },
    {
      "parameters": {
        "name": "={{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AaOBHPHn_J0D7EaOunqQBqm080yVTu-4",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        -176
      ],
      "id": "fdd62029-2840-4bd9-bf1e-bff4cdac4d43",
      "name": "Upload file"
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "writeCaption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "writeCaption",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "writeCaption": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "writeCaption",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "setFeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadVideo": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getVideo": {
      "main": [
        [
          {
            "node": "downloadVideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setFeed": {
      "main": [
        [
          {
            "node": "getVideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25d4a890-4830-4a86-8a12-3cc95f506817",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca3f3f1b54754cc6a8bf7018ef2c4b3d517f36ec4d32b4741e6f00bea7ac9b4a"
  },
  "id": "QwUKDqRtCW19kaKZ",
  "tags": []
}